.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: poppins;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(40, 44, 52);
  background-image: url("../src/assets/images/background.png");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}
.app-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: 52px;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 44px;
}
.content-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.left-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 30%;
}
.cam-wrapper {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canvas {
  position: absolute;
  text-align: center;
  z-index: 8;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.webcam {
  text-align: center;
  z-index: 9;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: 16px solid rgb(40, 44, 52);
  box-shadow: 20px 20px 2px 4px rgb(40, 44, 52, 0.5);
}
.asl-img {
  height: 80%;
  max-width: 70%;
}
.asl-modal {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-text {
  text-align: right;
  margin: 4px;
}
.study-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.gradient-button {
  background-image: linear-gradient(
    to right,
    #dcc2ee 0%,
    rgb(248, 205, 253) 51%,
    #e0b8fa 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
}
.gradient-button:hover {
  background-position: right center;
  color: #fff;
}
.study-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 0px 10px;
}
.study-button .tooltiptext {
  position: absolute;
  visibility: hidden;
  max-width: 120px;
  font-size: 17px;
  height: auto;
  background-color: rgb(40, 44, 52, 0.8);
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;

  /* Position the tooltip text */
  margin-right: -248px;
  margin-top: -12px;
}
.study-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(40, 44, 52, 0.8) transparent transparent;
}
.study-button:hover .tooltiptext {
  visibility: visible;
}
.study-icon {
  height: 60px;
  width: 60px;
}
@media only screen and (max-width: 680px) {
  .App-container {
    justify-content: space-evenly;
    height: auto;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  .content-body {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .left-panel {
    width: 70%;
    margin-top: 32px;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .name-text {
    text-align: center;
    padding: 0;
  }
  .cam-wrapper {
    width: 70%;
  }
  .web-cam {
    height: 60%;
    max-width: 60%;
  }
  .study-icon {
    height: 40px;
    width: 40px;
  }
  .study-button .tooltiptext {
    display: none;
  }
}
