.study-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.study-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 0px 10px;
}
.study-button .tooltiptext {
  position: absolute;
  visibility: hidden;
  max-width: 120px;
  font-size: 17px;
  height: auto;
  background-color: rgb(40, 44, 52, 0.8);
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;

  /* Position the tooltip text */
  margin-right: -248px;
  margin-top: -12px;
}
.study-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(40, 44, 52, 0.8) transparent transparent;
}
.study-button:hover .tooltiptext {
  visibility: visible;
}
@media only screen and (max-width: 768px) {
  .tooltiptext {
    display: none;
  }
}
